@model IndexVM
    <!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            @foreach (Slider s in Model.Slider)
            {
                <a href="#">
                    <div class="hero__items set-bg" style="width:1140px; height: 377px; max-height: 377px; overflow: hidden;" data-setbg="@s.Picture">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-5 col-lg-7 col-md-8">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</section>

<!--<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img src="/img/banner/banner-1.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Clothing Collections 2030</h2>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="/img/banner/banner-2.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Accessories</h2>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        <img src="/img/banner/banner-3.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Shoes Spring 2030</h2>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- Banner Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row" style="margin-top: 50px;">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">Yeni Ürünler</li>
                </ul>
            </div>
        </div>
        <div class="row product__filter">
            @foreach (Product p in Model.LatestProducts)
            {
                <partial name="_ProductBoxPartial" model="@p"></partial>
            }
        </div>
    </div>
</section>
<!-- Product Section End -->
<!-- Categories Section Begin -->
<section class="categories spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                @*<div class="categories__text">
                        <h2>Clothings Hot <br /> <span>Shoe Collection</span> <br /> Accessories</h2>
                    </div>*@
            </div>
            <div class="col-lg-4">
                <div class="categories__hot__deal">
                    @*<img src="@Model.DiscountedProduct.FirstOrDefault().Path" alt="">*@
                    <div class="hot__deal__sticker">
                        <span>İndirim</span>
                        @*<h5>@Model.DiscountedProduct.Price ₺</h5>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="categories__deal__countdown">
                    <span>Haftanın Fırsatı</span>
                    @*<h2>@Model.DiscountedProduct.Name</h2>*@
                    <a href="#" class="primary-btn">Satın Al</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Instagram Section Begin -->
<section class="instagram spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="instagram__pic">
                    @foreach (AnimalPicture a in Model.AnimalPictures)
                    {
                    <div class="instagram__pic__item set-bg" data-setbg="@a.Path"></div>
                    }
                </div>
            </div>
            <div class="col-lg-4">
                <div class="instagram__text">
                    <h2>Sahiplen</h2>
                    <p>
                        Ücretsiz sahiplenebileceğiniz evcil hayvanlarımızı gördünüz mü?
                    </p>
                    <h3><a asp-controller="Animal" asp-action="Index" class="primary-btn" style="background-color: #883fab ">Satın Alma Sahiplen</a></h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Instagram Section End -->
<!-- Latest Blog Section Begin -->
<section class="latest spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Blog</span>
                    <h2>Güncel Bloglar</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (Blog b in Model.Blogs)
            {
                <partial name="_BlogBoxPartial" model="@b"></partial>
            }
        </div>
    </div>
</section>
<!-- Latest Blog Section End -->