@model IEnumerable<Product>
@{
    int i = 0;
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h2>Ürün Yönetimi</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"> Liste </a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Ürün Yönetimi </li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><a asp-action="Create" class="btn btn-round btn-primary float-right" style="color:#fff">Yeni Ürün</a></h4>
                        <p class="card-description">
                        </p>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th> Ürün Adı </th>
                                        <th> Ürün Markası </th>
                                        @*<th> Ürün Alt Kategorisi </th>*@
                                        <th> Stok Miktarı </th>
                                        <th> Fiyatı </th>
                                        <th> Durum </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Product p in Model)
                                    {
                                    <tr class="@(i%2==0?"even":"odd") pointer">

                                        <td class="py-1" style="vertical-align:middle"><a>@p.Name</a></td>
                                        <td class="py-1" style="vertical-align:middle"><a>@p.Brand.Name</a></td>
                                        @*<td class="py-1" style="vertical-align:middle"><a>@p.SubCategory.Name</a></td>*@
                                        <td class="py-1" style="vertical-align:middle"><a>@p.Stock</a></td>
                                        <td class="py-1" style="vertical-align:middle"><a>@p.Price</a></td>
                                        <td>
                                            @if (p.Enabled)
                                            {
                                                <span class="text-primary">
                                                    <i class="mdi mdi-playlist-check"></i>
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="text-danger">
                                                    <i class="mdi mdi-playlist-remove"></i>
                                                </span>
                                            }
                                        </td>
                                        <th><a asp-action="ProductPictures" asp-route-id="@p.ID" class="btn btn-round btn-primary float-right">Fotoğraf Ekle</a></th>
                                        <th><a asp-action="Update" asp-route-id="@p.ID" class="btn btn-round btn-success float-right">Düzenle</a></th>
                                        <th><button onclick="deleteRecord('@p.Name','product',@p.ID)" class="btn btn-round btn-danger float-right">Sil</button></th>
                                    </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), Extensions.PagedListRenderOptions)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Bu site MuhammetErtem® Tarafından Gelişmiş E-Ticaret sistemleri ile hazırlanmıştır.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a href="https://www.muhammetertem.com.tr/" target="_blank"></a></span>
        </div>
    </footer>
    <!-- Footer -->
</div>
